.menu {
  height: calc(100% - 110px);
}

nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-item {
  display: flex;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;

  svg {
    margin-right: 20px;
  }

  &:not(:last-of-type) {
    margin-bottom: 40px;
  }

  &:last-of-type {
    margin-top: auto;
  }
}
