@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

html,
body {
  font-family: "Lato", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  color: #414141;
}

body {
  margin: 0;
}
