.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  min-width: 177px;
  padding: 43px 40px 45px 33px;
  background: linear-gradient(175.93deg, #5f00d8 -10.23%, #b200f1 117.03%);
}

hr {
  margin-top: 35px;
  margin-bottom: 36px;
  opacity: 0.2;
}
